body{
    background-color:rgba(102, 45, 3, 0.647) ;
    color:beige;
}
form{
    background-color:rgb(2, 15, 54);
    display:inline-block;
    border-radius:10px;
    border:3px solid gray; 
    justify-content: center;
    padding:20px;
}